;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]]

 :builds
 {:dev
  {:target :browser
   :output-dir "public/js"
   :modules
   {:blocko
    {:entries [blocko.core]}}}
  :prod-browser
  {:target :browser
   :output-dir "dist/browser"
   :modules
   {:blocko
    {:entries [blocko.core]}}}
  :prod-npm
  {:target :node-library
   :exports-fn blocko.core/init
   :output-to "dist/npm/blocko.js"
   :modules
   {:blocko
    {:entries [blocko.core]}}}}}
